/* custom properties, rem(font size base), box-sizing */
:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* border- box on all elements */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove system-level styling on inputs used by browsers */
input {
  appearance: none;
}

/* background-color, margins, fonts */
/* body extends whole viewport and no scrolling issues */
/* font-size by default is 16px */
body {
  font-size: 1.6rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12, 1fr);
  font-family: 'Roboto', sans-serif;
}



.sidebar {
    grid-column-start:  1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 13;
    background-color: rgb(25,146,212);
    color: white;
}


.header{
    grid-column-start:3  ;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
}


.main {
    grid-column-start: 3 ;
    grid-column-end: 10;
    grid-row-start:3;
    grid-row-end: 13;
}

.announce{
  grid-row-start:3;
  grid-row-end: 8;
  grid-column-start: 10;
  grid-column-end: 13;

}

.trend{
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start:8;
  grid-row-end: 13;
  background-color: rgb(226,232,240);

}


.sidebar-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: start;
  align-items: center;
  row-gap: 2rem;
  margin-top: 2.9rem;

}

.title {
  font-size: 2.5rem;
  margin: 0px;
}

.title, .logo {
  align-self: center;
  margin-bottom: 4rem;
}


a{
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.seperate-nav{
  margin-top: 4rem;
}

svg{
  justify-self: center;
}






.header{
  display: grid;
  grid-template-columns: 2.5fr 2fr;
  margin-top: 2.2rem;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  position: relative;
  z-index: 10;
  box-shadow:  0 6px 4px -4px rgba(0,0,0,0.3); 

}

input[type="search"]{
  border-radius: 30px;

  height: 50%;
  width: 80%;
  border-style: none;
  outline-style: none;
  background-color: rgb(226,232,240);
  padding-left: 1rem;

}

.search-section{
  display: grid;
  grid-template-columns: .2fr 3fr;
  align-items: center;
}

.icons{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 gap: 3rem;
 margin-right: 10rem;
}

button{
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgb(25,146,212);
  border-radius: 30px;
  color: white;
  border-style: none;
  outline-style: none;
}

.buttons {
  font-size: 1.5rem;
  font-weight: bold;
}

.introduction {
  display: grid;
  grid-template-columns: .3fr 3fr;
  align-items: center;
  margin-left: 1rem;
}

.introduction div {
  justify-self: start;
}








.main{
  background-color: rgb(226,232,240);
  padding: 2rem;
}

.card svg {
  color: rgb(84,84,84);
}

.card{
  background-color: white;
  box-shadow:  0 6px 4px -4px rgba(0,0,0,0.3); 
  border-left: 10px solid rgb(240,180,41);
  border-radius: 7px;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 2rem;
}

.card p {
  color: rgb(108,108,108);
}


.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.card-icons{
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  width: 100%;
}

h2{
  font-size: 2rem;
}



.design {
  background-color: white;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 10px;
justify-content: center;
align-items: center;
box-shadow:  0 6px 4px -4px rgba(0,0,0,0.3); 

}

.announce{
  
  background-color: rgb(226,232,240);
  padding: 2rem;
  padding-bottom: 0px;

}

.announcements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  width: 70%;

}

.announcements p {
  color: rgb(108,108,108);
  margin: 0px;
  margin-bottom: 1rem;
}

.announcements h3 {
  margin-top: .9rem;
  margin-bottom: .2rem;
}





hr {
  width: 250px;
  
}

.column{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-items: center;
  margin-bottom: 1rem;
  gap: 2rem;
}



.trend p{
  margin: 0px;
}

.trend h3 {
  margin: 0px;
}

.trend h3 {
  font-size: 2rem;
}

.trend {
  padding: 2rem;
}

.trend h2 {
}

.trend .design{
  padding-left: 2rem;
}

.trend {
 margin-top: 0px !important;
 
}

.trend p{
  color:rgb(122,117,136)
}

#oof{
  padding-top: 0px;
}

.design2{
  background-color: white;
  padding: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 10px;
  justify-content: center;
  box-shadow:  0 6px 4px -4px rgba(0,0,0,0.3); 

}